.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 30%;
}

 
.product-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin-top: 10%;
}

.product-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-item h3 {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 5px;
}

.product-item p {
    margin-bottom: 10px;
}

.product-item .price {
    font-weight: bold;
}

.product-item .doctor {
    color: #666;
}

.product-item button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-item button:hover {
    background-color: #0056b3;
}
